#header{
    position:relative;
    width :100%;
    height:50px;
    text-align:center
}
#main
{
    margin:auto;
    width:70%;
}
#signupForm{
    height: 100%;
}
#footer{
    position: absolute;
    bottom: 0;
    width :100%;
    height: 50px;
    text-align:center
}
.errorlist{
    float:right;
    color:red;
}
#banner{
    height:100%;
    background-color:gray;
}
#header{
    background-color:black;
}
#navbar{
    height:100%;
    background-color:gray;
}
#navbar ul{
    background-color:blue;
    list-style-type:none;
}

#navbar li{
    float:left;
    padding-right:10px;
}
#map{

    margin: auto;
    height:300px;
}
